@font-face {
	font-family: Montserrat;
	src: url('./font/Montserrat-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Montserrat;
	src: url('./font/Montserrat-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: Montserrat;
	src: url('./font/Montserrat-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

:root {
	--background-color: linear-gradient(145deg, #020617 0%, #050b1f 45%, #0a1128 100%);
	--header: linear-gradient(-45deg, #1e40af 0%, #ffffff 50%, #ef4444 100%);
	--txt: #f8fafc;
	--btn: linear-gradient(0, #ef4444, #991b1b);
	--border: 12px;
	--container: linear-gradient(180deg, #050b1f, #020617);
	--link: #38bdf8;
	--p-txt: #94a3b8;
	--alt-txt: #ffffff;
	--vitrina: linear-gradient(135deg, #1e3a8a, #0f172a);
	--shadow: rgba(239, 68, 68, 0.3);
	--btn-shadow: #7f1d1d;
	--btn-hover: #fee2e2;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-padding-top: 120px;
	scroll-behavior: smooth;
}

body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	color: var(--txt);
	background: var(--background-color);
	font-size: 1rem;
}

main {
	max-width: 80%;
	margin: 10px auto;
}

img,
video {
	max-width: 100%;
	height: auto;
	display: block;
}

a {
	text-decoration: none;
	color: var(--link);
	transition: color 0.3s ease;
}

a:hover {
	color: var(--btn-hover);
}

.accent-link {
	color: var(--btn);
}

h1 {
	font-size: 2.6rem;
	color: var(--txt);
	text-shadow: 0 6px 16px rgb(0, 0, 0);
	border-left: 4px solid var(--link);
	padding-left: 10px;
}

h2 {
	font-size: 1.6rem;
	margin-top: 10px;
	color: var(--txt);
	border-left: 4px solid var(--link);
	padding-left: 10px;
}

h3 {
	font-size: 1.2rem;
	margin-top: 10px;
	color: var(--txt);
}

ul {
	list-style: none;
	margin: 10px;
	color: var(--txt);
	margin: 4px 60px;
}

ul li::before {
	content: '◆ ';
	color: var(--btn);
}
/* custom list */
.pink-circle-list {
	counter-reset: step;
	list-style: none;
	padding-left: 0;
	margin: 10px 0;
}

.pink-circle-list li {
	counter-increment: step;
	margin-bottom: 1em;
	position: relative;
	padding-left: 40px;
}

.pink-circle-list li::before {
	content: counter(step);
	position: absolute;
	left: 0;
	top: 0;
	width: 26px;
	height: 26px;
	background-color: var(--link);
	color: var(--white);
	font-weight: bold;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: sans-serif;
	font-size: 14px;
}

/*  */
p {
	color: var(--txt);
	font-size: 1rem;
	line-height: 1.4rem;
	margin: 4px 0;
}

blockquote {
	padding: 10px;
	font-style: italic;
	color: var(--p-txt);
	margin: 20px auto;
	background-color: var(--background-color);
	border-left: 4px solid var(--btn);
	border-right: 4px solid var(--btn);
}

.btn,
.btn-white {
	display: inline-block;
	background: var(--btn);
	color: var(--txt);
	padding: 0.8rem 1.5rem;
	border-radius: var(--border);
	font-weight: bold;
	transition: all 0.3s ease;
	border: none;
	cursor: pointer;
	box-shadow: -3px -3px 3px var(--btn-shadow);

	/* Базовое лёгкое свечение */
}

/* Эффект при наведении */
.btn:hover {
	box-shadow: 10px 10px 10px var(--btn-shadow);
	transform: scale(0.95);
	color: var(--txt);
}

.btn-white {
	background-color: var(--txt);
}

.btn-white:hover {
	box-shadow: 0 0 10px var(--txt);
	transform: scale(1.05);
	color: var(--p-txt);
}

header {
	width: 100%;
	background: var(--header);
	position: sticky;
	top: 0;
	border-radius: 20px;
	box-shadow: 0 1px 8px var(--txt);
	padding: 5px;
	overflow: hidden;
	z-index: 100;
}

header::after {
	content: '';
	position: absolute;
	top: 0;
	left: -150%;
	width: 50%;
	height: 100%;
	background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.2), transparent);
	transform: skewX(-25deg);
	animation: shine 6s infinite;
}

@keyframes shine {
	0% {
		left: -150%;
	}
	20% {
		left: 150%;
	}
	100% {
		left: 150%;
	}
}

.logo-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 80%;
	margin: 0 auto;
	padding: 4px;
}

.logo {
	border-radius: var(--border);
	overflow: hidden;
}

.logo::before {
	content: '';
	position: absolute;
	top: 0;
	width: 60px;
	height: 100%;
	margin-left: 60px;
	background: var(--btn);
	transform: skew(-35deg);
	z-index: -1;
}

.logo-nav-container {
	display: flex;
	gap: 30px;
}

.navigation-list {
	text-align: center;
	word-spacing: 10px;
	& a {
		color: var(--btn-shadow);
	}
}

.container {
	margin: 20px auto;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
	padding: 30px;
	background: var(--container);
	border-radius: var(--border);
}

.container-long {
	margin: 20px auto;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	gap: 10px;
	padding: 30px;
	background: var(--container);
	border-radius: var(--border);
}

.container,
.container-long,
.casino-vitrina {
	box-shadow: 0 0 10px var(--link);
}

.flex-container {
	margin: 20px auto;
	display: flex;
	align-items: center;
	justify-content: start;
	gap: 20px;
}

.flex-wrapper {
	margin: 10px auto;
	display: flex;
	align-items: self-start;
	justify-content: center;
	gap: 26px;
}

.container img,
.container-left img,
.container-long img {
	border-radius: var(--border);
	width: 480px;
	height: auto;
}

.btn-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 20px auto;
}

.casino-vitrina {
	display: flex;
	flex-direction: column;
	background: var(--vitrina);
	border-left: 1px solid rgba(0, 0, 0, 0.6);
	border-radius: var(--border);
	padding: 20px 20px;
}

.casino-card {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--container);
	border-radius: 10px;
	overflow: hidden;
	margin: 20px auto;
	color: #fff;
	width: 100%;
}

.casino-rank {
	background: var(--link);
	padding: 60px 10px;
	font-size: 18px;
	font-weight: bold;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}

.casino-left {
	display: flex;
	flex-direction: column;
	align-items: self-start;
	justify-content: center;
	padding: 10px;
	gap: 10px;
}

.casino-logo {
	width: 200px;
	height: auto;
	border-radius: var(--border);
}

.casino-rating {
	background-color: var(--link);
	color: var(--txt);
	padding: 4px 10px;
	border-radius: 20px;
	font-weight: bold;
	display: inline-block;
	gap: 4px;
	margin-top: 12px;
	cursor: pointer;
}

.casino-center {
	padding: 0 20px;
	display: flex;
	gap: 10px;
}

.casino-title {
	margin: 0;
	font-size: 18px;
	font-weight: bold;
}

.casino-actions {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: start;
	gap: 10px;
	padding: 10px;
	width: 16%;
}

.btn-red-bonus {
	padding: 8px 12px;
	background: var(--btn);
	border-radius: 12px;
	border: 3px solid var(--link);
	transition: all 0.4s ease;
	text-align: center;
	width: 100%;
	color: var(--white);
}

.btn-red-bonus:hover {
	background: inherit;
	transform: scale(0.9);
	border: 3px solid var(--btn-hover);
	color: var(--txt);
}

.table-wrapper {
	overflow-x: auto;
	margin-top: 1.5rem;
	border-radius: var(--border);
	width: 100%;
}

.table-wrapper table {
	width: 100%;
	border-collapse: collapse;
	color: var(--txt);
	font-size: 1rem;
	min-width: 320px;
}

.table-wrapper th {
	background: var(--btn);
	color: var(--txt);
	padding: 1rem;
	text-align: left;
	font-weight: 600;
	font-size: 1.05rem;
	border-bottom: 1px solid var(--p-txt);
}

.table-wrapper td {
	padding: 0.9rem 1rem;
	border-bottom: 1px solid var(--p-txt);
	color: var(--light-color);
}

.table-wrapper a {
	color: var(--link);
	text-decoration: none;
	font-weight: 600;
}

.table-wrapper a:hover {
	color: var(--accent);
	text-decoration: underline;
}

/* game block */
.breake {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: centerx;
	width: 100%;
	margin: 20px auto;
	gap: 10px;
}

.breake-block {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
	padding: 10px 16px;
	border-radius: var(--border);
	background-color: var(--vitrina);
}

.breake-block p {
	background-color: var(--txt);
	border-radius: 120px;
	padding: 10px 12px;
	color: var(--btn-shadow);
	font-weight: 500;
}

.faq-hr {
	border: 1px solid var(--p-txt);
	width: 100%;
}

footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: var(--header);
	padding: 10px 200px;
	font-size: 0.8rem;
	gap: 10px;
}

footer a {
	align-self: self-start;
	color: var(--btn-shadow);
}

.footer-hr {
	border: 1px solid var(--p-txt);
	width: 100%;
}

.banner-bottom {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background: #000000d3;
	border-top: 1px solid var(--link);
	padding: 15px 20px;
	box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 40px;
	z-index: 1000;
}

@media (max-width: 1024px) {
	main {
		max-width: 90%;
	}

	.logo-container {
		width: 96%;
	}

	.container img,
	.container-left img,
	.container-long img {
		width: 300px;
		height: auto;
	}

	.btn-container {
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
	}

	footer {
		padding: 10px 100px;
	}
}

@media (max-width: 768px) {
	h1 {
		font-size: 2rem;
	}
	main {
		max-width: 96%;
	}

	ul {
		margin: 4px 10px;
	}

	/* header */
	.navigation-list {
		display: none;
	}
	.logo-container {
		width: 96%;
	}

	.container,
	.container-long,
	.casino-vitrina {
		box-shadow: 5px 3px 5px var(--shadow);
	}

	.container,
	.container-left,
	.container-long,
	.flex-wrapper {
		flex-direction: column;
		padding: 16px;
		gap: 10px;
	}

	.container img,
	.container-left img,
	.container-long img {
		width: 100%;
		height: auto;
	}

	.btn-container {
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		gap: 20px;
	}

	/* vitrina */

	.casino-card {
		flex-direction: column;
	}

	.casino-rank {
		height: 0;
		width: 100%;
		padding: 14px 0;
	}

	.casino-logo {
		width: 300px;
		height: auto;
	}

	.casino-actions {
		width: 50%;
		margin-bottom: 10px;
	}

	.banner-bottom {
		gap: 10px;
		width: 100vw;
	}
	/*  */
	footer {
		padding: 10px 20px;
	}
}
